{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1>Réinitialisation de mot de passe
				</h1>
				{# On doit decomposer le formulaire afin d'avoir les choses a leurs place #}
				{# On commence toujours par start et on injecte les champs avec row et .(l'élément) #}
				{# Puis on fini par end #}
				{{ form_start(passForm) }}
					<div class="input-group"> {{ form_widget(passForm.password, {'attr': {'class': 'form-control', 'autocomplete': 'current-password', 'required': true, 'id': 'inputPassword'}}) }}
					<button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('reset_password_password').type = (document.getElementById('reset_password_password').type === 'password') ? 'text' : 'password'">
						Afficher/Masquer
					</button>
				</div>
				<button type="submit" class="btn btn-primary">
					Envoyer</button>
				{{ form_end(passForm) }}
			</div>
		</div>
	</section>
{% endblock %}
