<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			<p>Le quai-antique</p>
			<p>chambery</p>
		</section>
		<section class="col">
			<p>Réalisation</p>
		</section>
		<section class="col">
			<p>accueil</p>
			<p>carte & menu</p>
			<p>Reserver</p>
			<p>mon compte</p>
		


		</section>
	</div>
</footer>
