{% extends 'base.html.twig' %}

{% block body %}
	<h1>Page de l'administrateur</h1>
	<div>
		<a href="{{ path('admin_flat_index') }}" class="mt-3 mb-4 btn btn-primary">Gérer les plats</a>
		<a href="{{ path('admin_menu_index') }}" class="mt-3 mb-4 btn btn-primary">Gérer les menus</a>
		<a href="{{ path('admin_hour_index') }}" class="mt-3 mb-4 btn btn-primary">Gérer les horaires</a>
    
	</div>
{% endblock %}
