{% extends 'base.html.twig' %}

{% block title %}Confirmation reservation
{% endblock %}

{% block body %}
	<h1>Confirmation reservation</h1>

	<p>Votre réservation a bien été prise en compte</p>

{% endblock %}
