@font-face {
  font-family: 'David Libre';
  src: url('/assets/fonts/DavidLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

  <style>@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
    </style>
}

.horaire-container {
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px 10px 10px;
  max-width: 600px;
  margin: 0 auto;
  width: calc(100% - 30px);
  font-family: 'David Libre', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.titre-horaire {
  font-family: 'David Libre', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.title-h2 {
  font-family: 'David Libre', sans-serif;
  font-size: 34px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  /* hauteur de ligne automatique */
  grid-gap: 20px;
}

.image-container {
  position: relative;
  overflow: hidden;
  height: auto;
  transition: transform 0.5s ease;
  border-radius: 10px;
  border: 2px solid black;
}

.image-container img {
  height: auto;
  transition: transform 0.5s ease;
  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.image-container:hover img {
  transform: scale(1.2);
  height: auto;
  transition: transform 0.5s ease;
  border-radius: 10px;
  border: 2px solid black;
}

.overlay {
  font-family: 'David Libre', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  opacity: 0;
  text-align: center;
  padding: 5px;
  transition: opacity 0.5s ease;
}

.image-container:hover .overlay {
  opacity: 0.7;
}

/* -------------------TABLETTE ---------------------*/
@media(max-width: 1024px) {

  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }


  .title-h2 {
    font-family: 'David Libre', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .horaire-container {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px 10px 10px;
    max-width: 400px;
    margin: 0 auto;
    width: calc(100% - 30px);
    font-family: 'David Libre', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  .titre-horaire {
    font-family: 'David Libre', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }
}

/* ------------FIN-----TABLETTE -------FIN-------------*/


/*---------------------- TELEPHONE -----------------------*/
@media(max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .title-h2 {
    font-family: 'David Libre', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .horaire-container {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px 10px 10px;
    max-width: 400px;
    margin: 0 auto;
    width: calc(100% - 30px);
    font-family: 'David Libre', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .titre-horaire {
    font-family: 'David Libre', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}

/* --------------FIN TELEPHONE FIN --------------------- */