{% extends "base.html.twig" %}

{% block title %}Gérer la capacité d'accueil

{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Modifier la capacité</h1>
				{% include "admin/capacity/_form.html.twig" %}
			</div>
		</section>
	</main>
{% endblock %}

