{% extends 'base.html.twig' %}

{% block title %}Administration des photos
{% endblock %}

{% block body %}
	<h1>Modifier des photos</h1>
	{% include "admin/photo/_form.html.twig" with {'button_label':'Modifier'}%}


{% endblock %}
