<h2 class="histoire-title">Bonjour
	{{ user.firstname }}
	{{ user.name }}
</h3>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant :<br>
</p>
	<a href="{{ url|raw }}">{{ url|raw }}</a>
<br>
<p>Merci.</p>
