<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			- Le Quai Antique
		</title>
		<link rel="icon" href="/assets/uploads/logo/quai_antique.svg">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		{# Block appelé constamment #}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
			<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
			<link rel="stylesheet" href="{{ asset('assets/css/styles.css')}}">
		{% endblock %}

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
			<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
			<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
		{% endblock %}

	</head>
	<body>
		{# avant mon bloc body je veux la nav #}
		{% include 'partials/_nav.html.twig' %}
		{% if app.user and app.user.isVerified == false %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-labael="close"></button>
				<div class="alert-message">
					Pour accéder à votre compte, vous devez valider votre adresse e-mail, où
					<a href="{{ path('resend_verification') }}">Renvoyer un lien d'activation</a>
				</div>
			</div>
		{% endif %}
		{% include 'partials/_flash.html.twig' %}

		{% block body %}{% endblock %}
		{% include 'partials/_footer.html.twig' %}</body>
</html></body></html>
